@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

section {
  height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: black;
  margin: 0;
}

li {
  list-style-type: none;
  display: inline-block;
}

#logo {
  font-size: 1.6rem;
  margin: 0 0 0 1rem;
}

.nav {
  margin-top: 1.2rem;
  display: flex;
  justify-content: space-between;
}

.nav-list {
  display: flex;
}

.nav-list li {
  font-size: 1.4rem;
  padding: 20px;
  margin: 0 8px 0;
}

.banner {
  margin-top: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col-1 {
  flex-basis: 60%;
  position: relative;
  margin-left: 10%;
  left: -3rem;
}

.col-1::before {
  content: "";
  width: 0.8rem;
  height: 90%;
  position: absolute;
  background: linear-gradient(#bfd7ff, #000);
  left: -2rem;
  top: 1rem;
}

.col-2 {
  position: relative;
  flex-basis: 40%;
}

.welcome {
  font-size: 5rem;
  line-height: 7rem;
}

.highlight {
  background-color: black;
  color: white;
  padding: 0 0.5rem;
}

.desc {
  font-size: 1.6rem;
  margin: 1rem 0 0 0.8rem;
}

.background-box {
  position: absolute;
  top: 0;
  right: 0;
  background: #9fc2cc;
  height: 100%;
  width: 80%;
  z-index: -1;
  border-radius: 8rem 2rem 8rem 0;
}

.home-img {
  width: 50vh;
  height: 85vh;
}

h2 {
  word-spacing: 5px;
}
