@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: black;
  margin: 0;
}

li {
  list-style-type: none;
  display: inline-block;
}

#logo {
  font-size: 1.2rem;
  margin: 0 0 0 1rem;
}

.nav {
  margin-top: 1.2rem;
  display: flex;
  justify-content: space-between;
}

.nav-list {
  display: flex;
}

.nav-list li {
  font-size: 1.4rem;
  padding: 20px;
  margin: 0 8px 0;
}

/* diff between inline block in li and flex in nav-list */
